In [1]:
a = ['s','e']
print(a)

['s', 'e']

In [2]:
a = str(a)

In [3]:
print(a)

['s', 'e']

In [4]:
print(type(a))

<class 'str'>

In [18]:
k = [3,4,5,2,6]

In [21]:
import pandas as pd
k1 = pd.DataFrame(data = k, columns = ['k'],index = [4,3,2,1,5])

In [22]:
k1

   k
4  3
3  4
2  5
1  2
5  6

In [23]:
k1.sort_index()

   k
1  2
2  5
3  4
4  3
5  6

In [14]:
k1

   k
0  1
1  2
2  3
3  4

In [15]:
k2 = k1.loc[0:1]

In [16]:
k2

   k
0  1
1  2

In [17]:
k2._is_copy